[submodule "3rdparties/twclient"]
	path = 3rdparties/twclient
	url = https://github.com/taiwins/twclient
[submodule "3rdparties/nklua"]
	path = 3rdparties/nklua
	url = https://github.com/xeechou/love-nuklear
[submodule "3rdparties/rax"]
	path = 3rdparties/rax
	url = https://github.com/antirez/rax
[submodule "3rdparties/taiwins-protocols"]
	path = 3rdparties/taiwins-protocols
	url = https://github.com/taiwins/taiwins-protocols
[submodule "3rdparties/libweston"]
	path = 3rdparties/libweston
	url = https://gitlab.freedesktop.org/wayland/weston.git
